/*
Added code lines in diff view
*/
.added, .added.line .bitbucket-gutter-marker {
    background: #243c24 !important;
}

/*
Removed code lines in diff view
*/
.removed, .removed.line .bitbucket-gutter-marker {
    background: #3c2424 !important;
}

/* 
Background color fixes.
The body isn't visible 90% of the time... but including it makes page refreshes more pretty 
*/
body,
div,
td,
tbody,
textarea,
.context.line .add-comment-trigger,
.markup code,
.commit-list,
.commit-list-item,
#task-list-dialog,
#build-status-dialog {
    background: #1e1e1e !important;
}

/*
Disable weird background on merge commits
*/
table.aui>tbody>tr, table.aui>tfoot>tr {
    background: none;
}

/* 
Hyperlinks color fixes.
*/
a {
    color: #75cf75 !important;
}

/*
Header color fixes.
*/
h1, h2, h3, h4, h5, h6, .dashboard .table-expander {
    color: #9393df !important;
}

/*
User mentions have a white background, so their text should
be black for readability.
*/
.user-mention {
    color: black !important;
}


/*
Make buttons a bit prettier
*/
.aui-button {
    border-radius: 5px;
}

/*
Interactable elements
*/
button,
.commit-message-subject,
.search-results-item a:hover,
.aui-dropdown2:hover,
.content-above,
.showmore,
.content-below,
.jstree-clicked,
.jstree-hovered,
.bitbucket-theme .commit-selector-item-message:hover,
.line-number {
    background: #2c2c2c !important;
}

/*
Badge fix
*/
.aui-badge {
    background: rgba(9,30,66,0.35);
}

/*
PR Text and others
*/
body,
textarea,
label,
.aui-item,
.action,
.commit-row,
.message-subject,
.line-number,
.markup,
.comment-box,
.aui-message-info,
.markup-editor,
.commit-message-subject,
.count,
.aui-badge {
    color: #b69fb6 !important;
}

/*
Tasks. Bright and obvious.
*/
.task-content {
    color: #4dcbcb !important;
}

/*
Code
*/
.CodeMirror, .markup .code {
    color: #b6a999 !important;
}

/*
Get rid of the weird blanket thing that hides the screen when tasks are up
*/
.aui-blanket {
    display: none;
}

/*
Hiding weird ugly gradients...
*/
.commits-table .message::after,
.pull-request-content > .commit-files .diff-tree-search-wrapper .search::before,
.task-list-dialog li.task-list-row.collapsed .task-content::after,
.filebrowser-table .directory-file-history.message::after,
#commits-table .message .tags-container::before{
    background-image: none !important;
}
